<div class="h-entry">
    <hgroup>
        <h1 class="p-name">{{.Title}}</h1>
        <small>
            <a class="u-url" href="{{.Post.FullUrl}}">#</a>
            Published:
            <time class="dt-published" datetime="{{.Post.Meta.Date}}">
                {{.Post.Meta.FormattedDate}}
            </time>
            {{ if .Post.User.Config.AuthorName }}
                by
                <a class="p-author h-card" href="{{.Post.User.FullUrl}}">
                    {{ if .Post.User.AvatarUrl }}
                        <img class="u-photo u-logo" style="height: 1em;" src="{{ .Post.User.AvatarUrl }}" alt="{{ .Post.User.Config.Title }}" />
                    {{ end }}
                    {{.Post.User.Config.AuthorName}}
                </a>
            {{ end }}
        </small> 
    </hgroup>
    <hr>
    <br>

    {{ if .Post.Meta.Reply.Url }}
        <p style="font-style: italic;filter: opacity(80%);">
            In reply to: <a class="u-in-reply-to h-cite" rel="in-reply-to" href="{{.Post.Meta.Reply.Url}}">
                {{ if .Post.Meta.Reply.Text }}
                    {{.Post.Meta.Reply.Text}}
                {{ else }}
                    {{.Post.Meta.Reply.Url}}
                {{ end }}
            </a>
        </p>
    {{ end }}

    {{ if .Post.Meta.Bookmark.Url }}
        <p style="font-style: italic;filter: opacity(80%);">
            Bookmark: <a class="u-bookmark-of h-cite" href="{{.Post.Meta.Bookmark.Url}}">
                {{ if .Post.Meta.Bookmark.Text }}
                    {{.Post.Meta.Bookmark.Text}}
                {{ else }}
                    {{.Post.Meta.Bookmark.Url}}
                {{ end }}
            </a>
        </p>
    {{ end }}

    <div class="e-content">
        {{.Content}}
    </div>

    <hr>
    {{if .Post.ApprovedIncomingWebmentions}}
    <h3>
        Webmentions
    </h3>
    <ul>
        {{range .Post.ApprovedIncomingWebmentions}}
        <li>
            <a href="{{.Source}}">
                {{if .Title}}
                    {{.Title}}
                {{else}}
                    {{.Source}}
                {{end}}
            </a>
        </li>
        {{end}}
    </ul>
    {{end}}
</div>