{{define "title"}}Admin{{end}}

{{define "main"}}
<h2>Write</h2>

<div class="action-tile-list">
    {{range .Types}}
    <div class="action-tile"><a href="/editor/new/{{.}}/">{{.}}</a></div>
    {{end}}
</div>

<h2>Content</h2>
<ul>
    <li><a href="/admin/binaries/">Files</a></li>
    <li><a href="/admin/drafts/">Drafts</a></li>
</ul>

<h2>Configurations</h2>
<ul>
    <li><a href="/site-config">Site Settings</a></li>
    <li><a href="/site-config/me">Me Links</a></li>
    <li><a href="/site-config/lists">Lists</a></li>
    <li><a href="/site-config/menus">Menus</a></li>
    <li>Modules</li>
    <ul>
        {{ range .Configs }}
            <li><a href="/admin/config/{{.Name}}">{{.Name}}</a></li>
        {{ end }}
    </ul>
</ul>
{{end}}