{{define "title"}}Configuration{{end}}

{{define "main"}}

<a href="/admin">Back</a>
<br>
<br>

<form method="POST" enctype="multipart/form-data">
{{.}}
<input type="submit" value="Submit" />
</form>


{{end}}