{{define "title"}}Admin{{end}}
{{define "head"}}{{end}}

{{define "main"}}
<h2 style="margin-bottom: 1rem;">Write</h2>

<div class="action-tile-list">
    {{range .Types}}
    <a class="action-tile" href="/editor/new/{{.}}/">{{.}}</a>
    {{end}}
</div>
<br>
<br>

<h2 style="margin-bottom: 1rem;">Content</h2>
<div class="action-tile-list">
    <a class="action-tile" href="/admin/drafts/">Drafts</a>
    <a class="action-tile" href="/admin/binaries/">Files</a>
    <a class="action-tile" href="/admin/interactions/">Interactions</a>
</div>
<br>
<br>

<h2 style="margin-bottom: 1rem;">Configurations</h2>
<div class="action-tile-list">
    <a class="action-tile" href="/site-config">Site Settings</a>
    <a class="action-tile" href="/site-config/me">Me Links</a>
    <a class="action-tile" href="/site-config/lists">Lists</a>
    <a class="action-tile" href="/site-config/menus">Menus</a>
</div>
<br>
<br>

<h3>Module Configuration</h3>
<div class="action-tile-list">
    {{ range .Configs }}
        <a class="action-tile" href="/admin/config/{{.Name}}">{{.Name}}</a>
    {{ end }}
</div>
<br>
<br>
{{end}}