{{define "title"}}Editor{{end}}
{{define "head"}}{{end}}

{{define "main"}}

<a href="/admin">&larr; Back</a>
<br>
<br>

<form method="POST" enctype="multipart/form-data">
    {{.}}
    <div class="grid">
        <label for="publishDate">Publishing Date</label>
        <input type="date" name="publishDate" />
    </div>

    <div class="grid">
        <input type="submit" name="action" value="Publish" />
        <input class="secondary" type="submit" name="action" value="Save as Draft" />
    </div>
</form>

{{end}}
