{{define "title"}}{{.Entry.Title}}{{end}}

{{define "main"}}

<div class="h-entry">
    <hgroup>
        {{if .Entry.Title}}
            <h1 class="p-name">{{.Entry.Title}}</h1>
        {{end}}
        <small>
            <a class="u-url" href="">#</a>
            Published:
            <time class="dt-published" datetime="{{.Entry.PublishedAt}}">
                {{.Entry.PublishedAt}}
            </time>
            {{ if .Author.Name }}
                by
                <a class="p-author h-card" href="{{.Author.FullUrl}}">
                    {{ if .Author.AvatarUrl }}
                        <img class="u-photo u-logo" style="height: 1em;" src="{{ .Author.AvatarUrl }}" alt="{{ .Author.Config.Title }}" />
                    {{ end }}
                    {{.Author.Name}}
                </a>
            {{ end }}
        </small> 
    </hgroup>

    <div class="e-content">
        {{.Entry.Content}}
    </div>

</div>

{{ if .LoggedIn }}
<br>
<br>
<br>
<h3>Actions</h3>
<div class="grid">
    <a href="/editor/edit/{{.Entry.ID}}/" role="button" class="secondary outline">Edit</a>
</div>
<br>
<hr>
<br>
<form method="post" action="/editor/unpublish/{{.Entry.ID}}/" class="grid">
    <label for="confirm">
        Confirm unpublishing
        <input type="checkbox" name="confirm" id="confirm" required />
    </label>
    <input type="submit" class="secondary outline" value="Unpublish" />
</form>
<br>
<hr>
<br>
<form method="post" action="/editor/delete/{{.Entry.ID}}/" class="grid">
    <label for="confirm">
        Confirm deletion
        <input type="checkbox" name="confirm" id="confirm" required />
    </label>
    <input type="submit" class="secondary outline" value="Delete" />
</form>


{{ end }}

    
{{end}}

