{{define "title"}}{{.Entry.Title}}{{end}}

{{define "main"}}

<div class="h-entry">
    <hgroup>
        {{if .Entry.Title}}
            <h1 class="p-name">{{.Entry.Title}}</h1>
        {{end}}
        <small>
            <a class="u-url" href="">#</a>
            Published:
            <time class="dt-published" datetime="{{.Entry.PublishedAt}}">
                {{.Entry.PublishedAt}}
            </time>
            {{ if .Author.Name }}
                by
                <a class="p-author h-card" href="{{.Author.FullUrl}}">
                    {{ if .Author.AvatarUrl }}
                        <img class="u-photo u-logo" style="height: 1em;" src="{{ .Author.AvatarUrl }}" alt="{{ .Author.Config.Title }}" />
                    {{ end }}
                    {{.Author.Name}}
                </a>
            {{ end }}
        </small> 
    </hgroup>

    {{.Entry.Content}}

</div>

{{ if .LoggedIn }}
<br>
<br>
<br>
<a href="/editor/edit/{{.Entry.ID}}/" role="button" class="secondary outline">Edit</a>
{{ end }}

    
{{end}}

