{{define "title"}}{{.Entry.Title}}{{end}}

{{define "head"}}
<meta property="og:url" content="{{ urljoin .SiteConfig.FullUrl "/posts/" .Data.Entry.ID  }}/" />
<meta property="og:type" content="article" />
{{ if .Data.Entry.ImageUrl}}
<meta property="og:image" content="{{ urljoin .SiteConfig.FullUrl .Data.Entry.ImageUrl}}" />
{{ end }}
{{ if .Data.Entry.PublishedAt }}
<meta property="og:article:published_time" content="{{.Data.Entry.PublishedAt.Format "2006-01-02T15:04:05" }}" />
{{ end }}
{{end}}

{{define "main"}}

{{ if not .Entry.PublishedAt }}
    <mark>
        This entry is a draft. It is only visible to logged in authors.
    </mark>
    <br>
    <br>
{{ end }}

<div class="h-entry">
    {{if .Entry.Title}}
        <h1 class="p-name entry-title">{{.Entry.Title}}</h1>
    {{else}}
        <div style="padding-top:4rem;"></div>
    {{end}}
    <div class="entry-meta">
        <a class="u-url" href="/posts/{{ .Entry.ID }}/">#</a>
        Published:
        {{ if .Entry.PublishedAt }}
            <time class="dt-published" datetime="{{.Entry.PublishedAt.Format "2006-01-02T15:04:05" }}">
                {{.Entry.PublishedAt.Format "2006-01-02" }}
            </time>
        {{ end }}
        {{ if .Author.Name }}
            by
            <a class="p-author h-card" href="{{.Author.FullUrl}}">
                {{ if .Author.AvatarUrl }}
                    <img class="u-photo u-logo" style="height: 1em;" src="{{ .Author.AvatarUrl }}" alt="{{ .Author.Config.Title }}" />
                {{ end }}
                {{.Author.Name}}
            </a>
        {{ end }}
    </div> 
    </hgroup>

    <div class="e-content">
        {{.Entry.Content}}
    </div>

</div>

{{if .Interactions}}
<br>
<br>
<br>
<hr>
<h4>
    Interactions
</h4>
<ul>
    {{range .Interactions}}
    <li>
        {{ .Content }}
        {{ if $.LoggedIn }}
            <form method="post" action="/admin/interactions/{{.ID}}/delete/" class="grid">
                <label for="confirm">
                    Confirm deletion
                    <input type="checkbox" name="confirm" id="confirm" required />
                </label>
                <input type="submit" class="secondary outline" value="Delete" />
            </form>
        {{ end }}
    </li>
    {{end}}
</ul>
{{end}}



{{ if .LoggedIn }}
<br>
<br>
<br>
<h3>Actions</h3>


<div class="grid">
    <div style="margin-bottom:1em;">
        <a style="width:100%;" href="/editor/edit/{{.Entry.ID}}/" role="button" class="">Edit</a>
    </div>
    <div>
        <form method="post" action="/editor/unpublish/{{.Entry.ID}}/">
            <input type="submit" class="secondary" value="Unpublish" />
            <br>
            <label for="confirm">
                Confirm unpublishing
                <input type="checkbox" name="confirm" id="confirm" required />
            </label>
        </form>
    </div>
    <div>
    <form method="post" action="/editor/delete/{{.Entry.ID}}/">
        <input type="submit" class="danger" value="Delete" />
        <br>
        <label for="confirm">
            Confirm deletion
            <input type="checkbox" name="confirm" id="confirm" required />
        </label>
    </form>
    </div>
</div>


{{ end }}

    
{{end}}

