{{define "title"}}Index{{end}}
{{define "head"}}{{end}}

{{define "main"}}

<div class="h-feed">
{{ range .Entries }}
    <div class="h-entry">
        <h1 class="entry-title">
            <a class="u-url" href="/posts/{{ .ID }}/">
                {{if .Title}}
                    {{ .Title }}
                {{else}}
                    #
                {{end}}
            </a>
        </h1>
        <div class="entry-meta">
            Published:
            {{ if .PublishedAt }}
                <time class="dt-published" datetime="{{.PublishedAt.Format "2006-01-02T15:04:05" }}">
                    {{.PublishedAt.Format "2006-01-02" }}
                </time>
            {{ end }}
        </div> 
        {{ .Content }}
    </div>
    <hr>
{{ end }}
</div>

<hr>
<nav class="row">
    {{ if not .FirstPage }}
        <div>
            <a href="/?page={{ .PrevPage }}">Prev</a>
        </div>
    {{ end }}
    
    <div>Page {{.Page}}</div>

    {{ if not .LastPage }}
        <div>
            <a href="/?page={{ .NextPage }}">Next</a>
        </div>
    {{ end }}
</nav>
{{end}}