{{define "title"}}Interactions{{end}}
{{define "head"}}{{end}}

{{define "main"}}

<a href="/admin">&larr; Back</a>
<br>
<br>

<h2>Recent Interactions</h2>

<div class="interaction-list">
    {{ range .Interactions }}
    <div class="interaction-item">
        <h5>
            On: <a href="/posts/{{ .EntryID }}">{{ .EntryID }}</a>
        </h5>
        <div class="entry-meta">
            Retrieved: {{ .CreatedAt.Format "2006-01-02 15:04"  }}
        </div>
        <div class="interaction-content">
            {{ .Content }}
        </div>
    </div>
    {{ end }}
</div>

<hr>
<nav class="row">
    {{ if not .FirstPage }}
        <div>
            <a href="?page={{ .PrevPage }}">Prev</a>
        </div>
    {{ end }}
    
    <div>Page {{.Page}}</div>

    {{ if not .LastPage }}
        <div>
            <a href="?page={{ .NextPage }}">Next</a>
        </div>
    {{ end }}
</nav>

{{end}}