{{define "title"}}Editor List{{end}}
{{define "head"}}{{end}}

{{define "main"}}

<h1>Login</h1>

<form action="" method="post">
    <label for="name">Username</label>
    <input id="name" name="name" type="text" placeholder="Username">

    <label for="password">Password</label>
    <input id="password" name="password" type="password" placeholder="Password">

    <input type="submit" value="Login">
</form>
{{end}}