{{define "title"}}Editor{{end}}
{{define "head"}}{{end}}

{{define "main"}}

<a href="/admin">&larr; Back</a>

<h2>Create a List</h2>
<form action="/site-config/lists/create" method="post" enctype="multipart/form-data">
    <label for="Id">Id</label>
    <input type="text" name="Id" id="Id"/>

    <label for="Title">Title</label>
    <input type="text" name="Title" id="Title"/>

    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Include</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Types}}
            <tr>
                <td>
                    <label for="{{.}}">{{.}}</label>
                </td>
                <td>
                    <input type="checkbox" name="Include" value="{{.}}" id="{{.}}"/>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>

    <!--
        List Types are not yet implemented
        <br>
        <br>
        <label for="ListType">ListType</label>
        <input type="text" name="ListType" id="ListType"/>
    -->

    <input type="submit" value="Create" />
</form>

<h2>Me Links</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Include</th>
            <!--<th>ListType</th>-->
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{range $i, $l := .Lists}}
        <tr>
            <td>{{$l.Id}}</td>
            <td>{{$l.Title}}</td>
            <td>
                {{ range $index, $element := $l.Include}}{{if $index}},{{end}} {{$element}}{{ end }}
            </td>
            <!--<td>{{$l.ListType}}</td>-->
            <td>
                <form action="/site-config/lists/delete" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="idx" value="{{$i}}"/>
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>


{{end}}