{{define "title"}}Editor{{end}}

{{define "main"}}

<form method="post" enctyep="multipart/form-data">
    <label for="Title">Title</label>
    <input type="text" name="Title" id="Title" value="{{.Title}}"/>

    <label for="SubTitle">SubTitle</label>
    <input type="text" name="SubTitle" id="SubTitle" value="{{.SubTitle}}"/>

    <label for="HeaderColor">HeaderColor</label>
    <input type="color" name="HeaderColor" id="HeaderColor" value="{{.HeaderColor}}"/>

    <label for="AuthorName">AuthorName</label>
    <input type="text" name="AuthorName" id="AuthorName" value="{{.AuthorName}}"/>

    <label for="AvatarUrl">AvatarUrl</label>
    <input type="text" name="AvatarUrl" id="AvatarUrl" value="{{.AvatarUrl}}"/>
    
    <input type="submit" value="Save" />
</form>


{{end}}