{{define "title"}}Editor{{end}}

{{define "main"}}

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/editor">Editor</a></li>
        <li><a href="/site-config">Site Settings</a></li>
        <li><a href="/site-config/me">Me Links</a></li>
        <li><a href="/site-config/lists">Lists</a></li>
        <li><a href="/site-config/menus">Menus</a></li>
    </ul>
</nav>

<h2>Site Settings</h2>

<form method="post" enctype="multipart/form-data">
    <label for="Title">Title</label>
    <input type="text" name="Title" id="Title" value="{{.Title}}"/>

    <label for="SubTitle">SubTitle</label>
    <input type="text" name="SubTitle" id="SubTitle" value="{{.SubTitle}}"/>

    <label for="HeaderColor">HeaderColor</label>
    <input type="color" name="HeaderColor" id="HeaderColor" value="{{.HeaderColor}}"/>

    <label for="AuthorName">AuthorName</label>
    <input type="text" name="AuthorName" id="AuthorName" value="{{.AuthorName}}"/>

    <label for="AvatarUrl">AvatarUrl</label>
    <input type="text" name="AvatarUrl" id="AvatarUrl" value="{{.AvatarUrl}}"/>
    
    <label for="FullUrl">FullUrl</label>
    <input type="text" name="FullUrl" id="FullUrl" value="{{.FullUrl}}"/>

    <label for="HtmlHeadExtra">HtmlHeadExtra</label>
    <textarea name="HtmlHeadExtra" id="HtmlHeadExtra">{{.HtmlHeadExtra}}</textarea>

    <label for="FooterExtra">FooterExtra</label>
    <textarea name="FooterExtra" id="FooterExtra">{{.FooterExtra}}</textarea>
    
    <input type="submit" value="Save" />
</form>


{{end}}