<label for="content">Content</label>
<textarea id="contentField" name="content" rows="8">{{.Content}}</textarea>

<script src="/static/editor.js"></script>
<script>
    addFileDrop("contentField")
</script>