{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Owl Blog</title>
        <link rel='stylesheet' href='/static/pico.min.css'>
    </head>
    <body>
        <header class="container">
            <a href="/">Owl Blog</a>
        </header>
        <main class="container">
            {{template "main" .}}
        </main>
        <footer class="container">
            Powered by <a href='https://golang.org/'>Go</a>
        </footer>
    </body>
</html>
{{end}}