<div class="h-entry">
    <hgroup>
        <h1 class="p-name">{{.Title}}</h1>
        <small>
            <a class="u-url" href="{{.Post.FullUrl}}">#</a>
        </small>
    </hgroup>
    <hr>
    <br>

    <div class="e-content">
        {{.Content}}
    </div>

    <hr>
    {{if .Post.ApprovedIncomingWebmentions}}
    <h3>
        Webmentions
    </h3>
    <ul>
        {{range .Post.ApprovedIncomingWebmentions}}
        <li>
            <a href="{{.Source}}">
                {{if .Title}}
                {{.Title}}
                {{else}}
                {{.Source}}
                {{end}}
            </a>
        </li>
        {{end}}
    </ul>
    {{end}}
</div>